<div class="page-wrap">
  <div class="banner"></div>
  <div class="d-flex justify-content-center">
    <div class="osrs-border-thick-login px-5 py-4 mb-5 d-flex flex-column justify-content-between" style="height:auto">
      <div class="d-flex justify-content-center">
        @if(!sessionService.session.authenticated){
        <form style="width:500px;">
          <div class="col-12">
            <label for="teamSelect" class="form-label">Choose your team</label>
            <select id="teamSelect" class="form-control" [(ngModel)]="selectedTeam"
              [ngModelOptions]="{standalone: true}" (change)="onTeamSelect(selectedTeam)">
              <option [value]="-1" disabled selected>Select Team</option>
              <option [value]="0">{{teamNames[0]}}</option>
              <option [value]="1">{{teamNames[1]}}</option>
            </select>
          </div>
          <br>
          <div class="col-12">
            @if(selectedTeam === 0){
            <label for="password">Team 1 Password:</label>}
            @if(selectedTeam === 1){
            <label for="password">Team 2 Password:</label>
            }
            @if(selectedTeam !== -1){
            <input class="form-control" type="password" id="password" name="password" placeholder="Enter password"
              [ngClass]="{'is-invalid': errorMessage !== ''}" [(ngModel)]="password" />
            }
          </div>
        </form>
        } @else {
        <div>
          <div class="d-flex flex-row justify-content-between">
            <h2>Welcome {{teamNames[sessionService.session.team]}}!</h2>
            <p>This is where you can edit your board!</p>
            <div class="d-flex flex-row gap-4">
              <button class="btn custom-btn" [routerLink]="['']">Return to board</button>
              <button class="btn custom-btn" (click)="logout()" type="submit">Log out</button>
            </div>
          </div>
          <div style="max-height: 600px;" class="mt-2 overflow-auto">
            <table class="table osrs-table table-bordered">
              <thead>
                <tr class="sticky-top" style="top: -1px; box-shadow: black 0px 1px 0px 0px;">
                  <th>Tile title</th>
                  <th>Image</th>
                  <th>Boss image</th>
                  <th>Points</th>
                  <th>Description</th>
                  <th>Required</th>
                  <th>Obtained</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                @if(board.length === 0){<tr>
                  <td colspan="8">No tiles available</td>
                </tr>}
                @else{
                @for(row of board; track row;){
                @for(tile of row; track tile; let i = $index){
                <tr>
                  <td>
                    {{tile.title}}
                  </td>
                  <td>
                    <div>
                      <img class="tile-image" [src]="tile.tileImg" />
                    </div>
                  </td>
                  <td>
                    <div>
                      <img class="tile-image" [src]="tile.bossSrc" />
                    </div>
                  </td>
                  <td>{{ tile.points }}</td>
                  <td>{{ tile.description }}</td>
                  <td>{{ tile.conditions.amount }}</td>
                  <td><input class="form-control" [(ngModel)]="tile.conditions.progress" /></td>
                  <td>
                    <button class="btn custom-btn col-12" (click)="saveTile(tile, tile.id-1)">Save</button>
                  </td>
                </tr>
                }}}
              </tbody>
            </table>
          </div>
        </div>
        }
      </div>
      <div>
        @if(!sessionService.session.authenticated){
        @if(errorMessage.length > 0){
        <div class="text-danger mt-2">{{ errorMessage }}</div>
        }@else {<br />}
        <div class="d-flex justify-content-between">
          <button class="btn custom-btn" type="submit" (click)="login()">Log in</button>
          <button class="btn custom-btn" [routerLink]="['']">Return to board</button>
        </div>}
      </div>
    </div>
  </div>
</div>